<app-nav></app-nav>
<div class="panel panel-default">
    <div class="panel-body">
<fb-share href="http://localhost:4200/#/community/article/1" style="float: right; margin-right: 15%"></fb-share>
<button type="button" class="btn btn-default btn-sm" (click)="setBookmark()" style="float: right; margin-right: 2%">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Bookmark
</button>


<div class="container-fluid" style="width: 80%; margin-left: 10%;">


  <h1>The Largest Domestic Cats</h1>
  <p><b>
    Which are the largest Domestic Cats? The Siberian can reach up to 26 pounds, while the Maine Coon is known more for fluff and the length of his long, poofy tail. But there’s a wide range of big cat breeds that tend to come in on the larger side.
  </b></p>
  <p>
    Starting with the largest, based on average weight, here are 11 of the biggest domestic cat breeds around:
  </p>
  <div>
    <img src="https://www.cats.org.uk/uploads/images/featurebox_sidebar_kids/grief-and-loss.jpg" style="width:100%">

    <h2>1. Siberian Cat</h2>
    <p>
      With a rounded appearance and sweet demeanor the Siberian was made for cuddles. Just make sure you make room on your lap for this big cat!
    </p>
    <ul>
      <li>Average Weight: 8-26 pounds</li>
      <li>Personality: Adaptable and agile, these intelligent cats make great family pets and have a playful, amiable personality.</li>
      <li>Fun Fact: Thanks to oily guard hairs, these big pet cats have a coat that is water-resistant, and many Siberians have an affinity for water.</li>
    </ul>
  </div>
  <div>
      <img src="https://www.petmd.com/sites/default/files/petmd-cat-happy-13.jpg" style="width:100%">

      <h2>2. Ragamuffin</h2>
      <p>
          Known for big, expressive eyes, these large domestic cats have an almost teddy-bear look, along with a super fluffy coat that comes in a number of colors.</p>
      <ul>
        <li>Average Weight: 8-20 pounds</li>
        <li>Personality: Ragamuffins make great family pets, due to their calm, easygoing demeanor. They typically get along with other pets, and many can be taught to do tricks, play fetch or even walk on a leash.</li>
        <li>Fun Fact: The Ragamuffin takes a little more time to mature and doesn’t reach full adulthood until around four years of age.        </li>
      </ul>
  </div>

  <div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwtelHztwA_OIlXhCwNnmsBQdL4sq9_XF3qWrYxoCErQkV-wTH" style="width:100%">

      <h2>3. Ragdoll</h2>
      <p>
          These big pet cats owe their name to a tendency to go limp in your arms when picked up, and an especially easygoing demeanor.</p>
      <ul>
        <li>Average Weight: 8-20 pounds</li>
        <li>Personality: Many Ragdolls love to be with their humans and exhibit a playful, people-oriented personality. They also get along well with kids and dogs, making them great family pets.
          </li>
        <li>Fun Fact: The Ragdoll and the Ragamuffin share ancestors (and a lot of similarities) but are different cats. Ragdolls show less color variation and have eyes that are more oval in shape (and are often blue).
          </li>
      </ul>
  </div>
</div>


</div>
</div>