<div class="container" style="width: 100%">
  <!--<app-homepage *ngIf="showHomepage"></app-homepage>-->
      <router-outlet></router-outlet>
</div>

<footer class="footer bg-light" style="width: 100%; margin-top: 5%; margin-left: 15%;">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
                    <p class="text-muted small mb-4 mb-lg-0">© INF0-6150-FALL 2017. All Rights Reserved.</p>
            </div>
            <!--<div class="col-lg-6 text-center text-lg-right">-->
              <!--<ul class="list-inline mb-0">-->
                <!--<li class="list-inline-item mr-3">-->
                  <!--<a href="#">-->
                    <!--<i class="fa fa-facebook fa-2x fa-fw"></i>-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li class="list-inline-item mr-3">-->
                  <!--<a href="#">-->
                    <!--<i class="fa fa-twitter fa-2x fa-fw"></i>-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li class="list-inline-item">-->
                  <!--<a href="#">-->
                    <!--<i class="fa fa-instagram fa-2x fa-fw"></i>-->
                  <!--</a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          </div>

        </div>
      </footer>
