<app-nav></app-nav>
<div class="panel panel-default">
    <div class="panel-body">
<div class="container-fluid" style="width: 80%; margin-left: 10%;">

  <fb-share href="http://www.google.com" style="float: right; margin-right: 15%"></fb-share>
  <button type="button" class="btn btn-default btn-sm" (click)="setBookmark()" style="float: right; margin-right: 2%">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Bookmark
  </button>

  <h1>Tips for the First 30 Days of Cat Adoption</h1>
  <p><b>
    Be prepared should be your mantra when bringing a new pet into your home. Cats are particularly sensitive to new surroundings and some may hide under a bed or in a closet for days or even weeks.</b></p>
  <p>
    You can avoid pitfalls with your new critter and help him or her adapt more easily by following these guidelines:
  </p>
  <div>
    <img src="https://i.ytimg.com/vi/d0InWSCIFk4/maxresdefault.jpg" style="width:100%">

    <h2>Before You Bring Your Cat Home:</h2>
    <ul>
      <li>Cats are territorial, and coming into a new home leaves them feeling really uneasy. There’s all that unexplored space, and who knows what may lurk there. Do him a favor and provide a small area to call his own for the first few days or weeks. A bathroom or laundry room works well. Furnish the room with cat amenities, such as food, water and a litter box. You’ll want to spend time with your cat, so make sure there’s a comfortable place for you to sit as well.</li>
      <li>Fill a litter box with one or two inches of litter and place it in his room where he can use it undisturbed. After all, everyone deserves a modicum of privacy when pottying, and giving him that will help forestall litter box aversion. Not sure which litter to choose? Check out How to Choose A Cat Litter.</li>
      <li>Set up a feeding station with food and water bowls. Locate it away from the litter box. For more cat feeding and nutrition tips, visit our Pet Nutrition section.</li>
      <li>Cats love to get away from it all in small places, and you can provide one for your new cat as his own little safe haven. If he came home in a cat carrier, that might be a good choice. You can also make one by cutting a doorway for her in the end of a box. If you prefer, you can buy a covered cat bed at a pet supply store. In either case, make sure the space is big enough for the cat to stand up and turn around in. Cat “feng shui” probably requires that he or she be able to see the door to the room from his hidey hole, so he won’t be startled.</li>
      <li>A cat’s claws need to be worn down, and they do this by scratching on things. Since you prefer that it not be your chairs and sofa, provide your cat with a socially acceptable scratching place. Some types are made of corrugated cardboard and lie on the floor; others are posts which have to be tall enough so that the cat can extend himself upward to scratch. You can encourage your cat (once he has arrived) to use the post by sprinkling it with catnip or dangling a toy at the top. He’ll get the idea. You’ll probably want a scratching post in each room where there is soft furniture, perhaps blocking access to it. You can also install sticky tape (available at pet supply stores) to corners of upholstered furniture to dissuade scratching. Don’t miss these tips on how to cut down on kitty’s scratching, how to choose a scratching post, and facts about declawing cats.</li>
      <li>Look at your house with a curious cat’s eye view for its climbing and exploring potential. When your cat is acclimated to your home, you may be surprised to find him on top of the upper kitchen cabinets, so make sure there’s nothing on display there or on other high shelves that can be damaged or knocked off.</li>
      <li>Look for holes or registers that leave ductwork accessible and cover them up. A kitten can easily slither into one of these. You won’t want firemen in the house, jackhammering the concrete floor to extract your cat.</li>
      <li>If possible, buy a cat tree for your new family member. Cats like to survey their territory, so a high perch is often a favored resting place.</li>
      <li>If there are other human family members, go over the ground rules about your new pet. Remind them not to startle him and to keep the door to his room shut.</li>
      <li>Bone up on how to introduce your cat to other pets. Keep her door closed and don’t let your other pet race in unexpectedly. See also: New Cat Introductions and Living with Cats and Dogs.</li>
    </ul>
  </div>
  <div>
    <img src="https://i.ytimg.com/vi/6ipdjotLWe0/maxresdefault.jpg" style="width:100%">

    <h2>First Day:</h2>
    <p>
      Now, you are ready for your cat’s homecoming. Preferably, bring her home in a cat carrier. It will feel safer to her. She has seen a lot of excitement, so take her directly to her new room. (Make sure the toilet lid is down, if she’s to acclimate in your bathroom.) Ideally, you would restrict her exposure to the whole family, but naturally, everyone is going to want to see her. Remind them of the ground rules you’ve set up.
    </p>
    <ul>
      <li>Sit on the floor and let her come to you. Don’t force her. Just let her get acquainted on her own time. If she doesn’t approach, leave her alone and try again later. Some cats are particularly frightened, and she may retreat to her hidey hole and not come out when you’re around at all. She may only come out at night when the house is quiet. Give her time.</li>
      <li>Your newly adopted cat may not eat much or at all at first. It’s best to give your cat the same food she had at the shelter or in her foster home, at least at first. Keeping some things familiar will make her feel more secure. Be sure to change her water frequently and make sure that she is drinking. If your cat hasn’t eaten for a few days, call your vet to ask for advice.</li>
    </ul>
  </div>

  <div>
    <img src="https://i.ytimg.com/vi/jdYRha_s8Yk/maxresdefault.jpg" style="width:100%">

    <h2>Following Weeks:</h2>
    <p>
      It may take your cat a week or two to adjust. Be patient.
    </p>
    <ul>
      <li>Within a week of being adopted, take your newly adopted cat for her first wellness visit with a veterinarian. If you have a record of immunizations from the shelter, take it with you. Don’t have a vet? Check out these tips for finding the right vet for you and your cat.</li>
      <li>As your cat adjusts, she’ll show signs that she wants to explore outside her safe haven. Make sure other pets or family members won’t startle her while she gradually expands her territory. She may be ready to play, so you can furnish some toys. Many cats like feather wands from the pet supply store, but homemade toys are often favored. A wad of a tissue paper to bat around or a paper bag to hide in can be fun. For more ideas on how to keep your cat entertained see Keeping Your Cat from Getting Bored.</li>
    </ul>
    <p>Congratulations! If you follow these tips, you’ll be on your way to having a well-adjusted feline family member.</p>
  </div>
</div>
</div>
</div>