.text-heading1 {
  font-family: "Hoefler Text";
  color: black;
  line-height: 150%;
  text-align: left;
  font-size: 36px;
  margin: 20px;
  float: left;
  width: 100%;
}

li {
  font-size: 15px;
  color: black;
  font-weight: bold;
}
