
<form ngForm #adopterForm="ngForm" (ngSubmit)="onSubmit(adopterForm)">
  <div class="form-group input-group" style="width: 100%">
    <button id="bookmark" type="button" class="btn btn-default btn-sm" (click)="setBookmark()">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Bookmark
    </button>
    <div style="padding: 20px; width: 50%">
      <label>WHAT IS YOUR NAME? <p style="color: red;"> {{ msg }}</p></label>
    </div>
    <div style="padding: 20px">
      <span class="col-xs-6">
        <input type="text" placeholder="First name" class="form-control" id="fname" [(ngModel)]="contact.firstname" name="firstname"
          value={{contact.firstname}}>
      </span>
      <span class="col-xs-6">
        <input type="text" placeholder="Last name" class="form-control" id="lname" [(ngModel)]="contact.lastname" name="lastname"
          value={{contact.lastname}}>
      </span>
    </div>
  </div>

  <div class="form-group input-group" style="width: 100%">
    <div style="padding: 20px">
      <label>HOW CAN YOU BE REACHED?</label><p style="color: red;"> {{ msg1 }}</p>
    </div>
    <div style="padding: 20px">
      <span class="col-xs-6">
        <input type="text" placeholder="Phone number" class="form-control" id="phone" [(ngModel)]="contact.phone" name="phone" value={{contact.phone}}>
      </span>
    </div>
  </div>

  <div class="form-group input-group" style="width: 100%">
    <div style="padding: 20px">
      <label>WHERE DO YOU LIVE? <p style="color: red;"> {{ msg2 }}</p></label>
    </div>
    <div style="padding: 20px">
      <span class="col-xs-6">
        <input type="text" placeholder="Address line 1" class="form-control" id="addr1" [(ngModel)]="contact.address1" name="address1"
          value={{contact.address1}}>
      </span>
      <span class="col-xs-6">
        <input type="text" placeholder="Address line 2" class="form-control" id="addr2" [(ngModel)]="contact.address2" name="address2"
          value={{contact.address2}}>
      </span>
    </div>
    <div style="padding: 20px">
      <span class="col-xs-6">
        <input type="text" placeholder="City" class="form-control" id="city" [(ngModel)]="contact.city" name="city" value={{contact.city}}>
      </span>
      <span class="col-xs-6">
        <input type="text" placeholder="State" class="form-control" id="state" [(ngModel)]="contact.state" name="state" value={{contact.state}}>
      </span>
    </div>
    <div style="padding: 20px">
      <span class="col-xs-6">
        <input type="text" placeholder="Zipcode" class="form-control" id="zipcode" [(ngModel)]="contact.zip" name="zip" value={{contact.zip}}>
      </span>
    </div>
  </div>

  <div class="text-center">
    <button id="save" type="submit" [disabled]="adopterForm.invalid" class="btn">Save</button>
  </div>
</form>
