<!DOCTYPE html>
<form class="form-horizontal" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
  <div style="float: left; width: 50%">
    <div class="form-group" >
      <label>First Name:</label>
      <input type="text" class="form-control" id="firstname" ngModel name="firstname" #firstname="ngModel">
    </div>
    <div class="form-group">
      <label>Last Name:</label>
      <input type="text" class="form-control" id="lastname" ngModel name="lastname" #lastname="ngModel">
    </div>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" ngModel name="email" #email="ngModel">
    </div>
    <div class="form-group">
      <label>Phone:</label>
      <input type="text" class="form-control" id="phone" ngModel name="phone" #phone="ngModel">
    </div>
    <p style="color: red;"> {{ prop }}</p>
  </div>



  <div style="margin-left: 60%; width: 40%">
    <label>Message:</label>
    <textarea class="form-control custom-control" rows="12" style="resize:none" id="msg" ngModel name="msg" #msg="ngModel"></textarea>
    <br>
    <button type="submit" [disabled]="contactForm.invalid" class="btn btn-primary" style="float: right">Submit</button>
  </div>


</form>
