.owner-btn {
  padding: 1%;
}
.btn-primary {
  float: right;
  background-color: indianred;
  border-color: indianred;
  border: solid;
  border-radius: 25px;
  width: 900px;
  font-weight: bold;
  height: 50px;
  margin-bottom: 2%;
}
.pet-card-text{
  font-family: "Hoefler Text";
  color: black;
  line-height: 150%;
  text-align: center;
}

.pet-card-title{
  font-size: 36px;
  margin: 20px;
  color: brown;
}

.pet-card-content{
  font-size: 16px;
}