
.community-image-background {
  width: 100%;
  height: 400px;
  padding: 10%;
  text-align: center;
  color: white;
  background-image: url("../../../assets/community-background.jpg");
}

.home-heading {
  font-size: 48px;
  line-height: 2;
}

.home-content {
  font-size: 16px;
  line-height: 2;
}

.home-btn {
  padding: 4%;
}

.btn-primary {
  background-color: transparent;
  border-color: white;
  border: solid;
  border-radius: 25px;
  width: 200px;
  font-weight: bold;
}

button:hover{
  color: brown;
  background-color: rgba(255, 255, 255, 0.5);
  border-color:rgba(255, 255, 255, 0.5);
}
