  button{
    font-size:18px;
    color:white;
    background-color:black;
  }
  button:hover{
    background-color:grey;
    color:white;
  }

  .panel{
    width:90%;
    margin-left: 5% ;
}
p{
  font-size: 18px;
}
